@use "functions";
@use "variables";

.visual-debugger {
  // Icon font.
  [class^="icon-"], [class*=" icon-"] {
    font-size: var(--#{variables.$prefix}icon--font-size);
  }

  // Prepares an icon layer to be displayed within content (e.g. the
  // Filters tab's per-type color swatch, before its label).
  .icon-within-content {
    line-height: 1.5;
  }

  .icon-square {
    font-size: var(--#{variables.$prefix}icon--font-size--x-small);
    line-height: 1.5;
  }

  .icon-selected-true,
  .icon-selected-false,
  .icon-slide-resize,
  .icon-eye,
  .icon-eye-blocked {
    font-size: var(--#{variables.$prefix}icon--font-size--large);
  }

  .icon-selected-true {
    color: var(--#{variables.$prefix}icon--color--selected-true);
  }
  
  .icon-selected-false {
    color: var(--#{variables.$prefix}icon--color--selected-false);
  }

  // Toggle on/off icons.
  .icon-toggle-on,
  .icon-toggle-off {
    background-color: var(--#{variables.$prefix}color--white);
    border-radius: 50px;
    font-size: var(--#{variables.$prefix}icon--font-size--mid-large);
    line-height: .7;
  }

  // Toggle on/off icons.
  .icon-checkbox-checked,
  .icon-checkbox-unchecked {
    background-color: var(--#{variables.$prefix}color--white);
    border-radius: functions.to-rem(3px);
    font-size: var(--#{variables.$prefix}icon--font-size--mid-large);
    line-height: .7;
  }
}
