@font-face {
  font-family: 'visual-debugger-icons';
  src:
    url('fonts/visual-debugger-icons.ttf?otjb0a') format('truetype'),
    url('fonts/visual-debugger-icons.woff?otjb0a') format('woff'),
    url('fonts/visual-debugger-icons.svg?otjb0a#visual-debugger-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'visual-debugger-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e90e";
}
.icon-content-copy:before {
  content: "\e90f";
}
.icon-circle-unchecked-outline:before {
  content: "\e909";
}
.icon-visibility-on:before {
  content: "\e910";
}
.icon-cancel:before {
  content: "\e911";
}
.icon-check:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-box-checked:before {
  content: "\e912";
}
.icon-box-unchecked:before {
  content: "\e913";
}
.icon-circle-checked:before {
  content: "\e914";
}
.icon-visibility-off:before {
  content: "\e90d";
}
.icon-circle-checked-outline:before {
  content: "\e915";
}
.icon-navigate-next:before {
  content: "\e908";
}
.icon-copy:before {
  content: "\e900";
}
.icon-slide-resize:before {
  content: "\e904";
}
.icon-selected-false:before {
  content: "\e901";
}
.icon-selected-true:before {
  content: "\e902";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-square:before {
  content: "\e906";
}
.icon-toggle-on:before {
  content: "\e903";
}
.icon-toggle-off:before {
  content: "\e905";
}
