@use "variables";

@font-face {
  font-family: '#{variables.$icomoon-font-family}';
  src:
    url('#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.ttf?6bmvws') format('truetype'),
    url('#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.woff?6bmvws') format('woff'),
    url('#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.svg?6bmvws##{variables.$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{variables.$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-toggle-on {
  &:before {
    content: variables.$icon-toggle-on; 
  }
}
.icon-toggle-off {
  &:before {
    content: variables.$icon-toggle-off; 
  }
}
.icon-slide-resize {
  &:before {
    content: variables.$icon-slide-resize; 
  }
}
.icon-selected-false {
  &:before {
    content: variables.$icon-selected-false; 
  }
}
.icon-selected-true {
  &:before {
    content: variables.$icon-selected-true; 
  }
}
.icon-copy {
  &:before {
    content: variables.$icon-copy; 
  }
}
.icon-eye {
  &:before {
    content: variables.$icon-eye; 
  }
}
.icon-eye-blocked {
  &:before {
    content: variables.$icon-eye-blocked; 
  }
}
.icon-checkbox-checked {
  &:before {
    content: variables.$icon-checkbox-checked; 
  }
}
.icon-checkbox-unchecked {
  &:before {
    content: variables.$icon-checkbox-unchecked; 
  }
}

